body {
    margin: 0;
    font-family: courier, monospace;
  }
  
label {
  width: 100%;
  max-width: 700px; 
  margin-bottom: 0.8vh;
  font-weight: bold;
}


#message {
    width: 100%; 
    max-width: 60vh;
    height: 20vh; 
    padding: 1.2vh;
    border: 2px solid #607d8b;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1.1rem;
    margin-top: 0.5vh;
    overflow: auto; 
    resize: none; 
    white-space: pre-wrap; 
  }


#visitorName {
  width: 60vh; 
  max-width: 100%; 
  padding: 1.5vh;
  border: 0.15rem solid #607d8b;
  box-sizing: border-box;
  border-radius: 0.5rem;
  font-size: 1rem;
  margin-top: 0.5vh;
}


#email-add {
  width: 60vh; 
  max-width: 100%; 
  padding: 1.2vh;
  border: 2px solid #607d8b;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1rem;
  margin-top: 0.5vh;
}


#sent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
  background: red;
  border: none;
  color: white;
  font-weight: 900;
  padding: 1vh 2vh; 
  border-radius: 0.5vh;
  cursor: pointer;
}


.send-email {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 800px) {
  #message,
  #visitorName,
  #email-add {
    font-size: 0.7rem;
    max-width: 30vh; 
  },
 
}

@media (max-width: 480px) {
  #message,
  #visitorName,
  #email-add {
    font-size: 0.7rem;
    max-width: 30vh; 
  }
}
